<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
	<div id="menu">   
		<a class="right" href=" {% url 'logout' %}">
		<i class="fa fa-sign-out" aria-hidden="true"></i>Sortir&nbsp;</a> 
	</div>
	<div class="div1Step1">
		 </br></br></br>
		<div class="row">
			<div class="col-md-3"> </div>
			<div class="col-md-6"> </br></br>	       
				<h5> Rehargez un fichier Excel contenant les notes des candidats </h5>
				</br>
				{% block content %}
					<form action="/main/upload-ok/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
				   	<p>&nbsp;
				   		<input type="file" name="upfile" id="fichier" value="select a file"/> 
				   	</p>
				   	</br> </br> </br> </br> </br> 
				   	<span class="right">
						<button onclick="submit" class="btn btn-primary btn-md" id="group-btn">
									continuer <i class="fa fa-sign-in"> </i>
						</button>
						</br></br>
					</span>
					</form>
				{% endblock %}
			</div>
			<div class="col-md-3"></div>
		</div>	
	</div>
</html>
