{% block content %}
	<div id="menu">   
		<a class="right" href=" {% url 'logout' %}">
		<i class="fa fa-sign-out" aria-hidden="true"></i>Sortir&nbsp;</a> 
	</div>
	<form action="/main/step-2-ok/" method="post">
	<input type="hidden" name="coeffs" id="coeffs" value="{{COEFFS}}"/>
	<input type="hidden" name="typesHeader" id="typesHeader" value="{{TYPESHEADER}}"/>
	<input type="hidden" name="typesMatter" id="typesMatter" value="{{TYPESMATTER}}"/>
	<!--{{ JURY }}</br>{{HEADER0}}</br>{{HEADER1}}</br></br>{{CODES}}-->
	{% csrf_token %}
	<div id = "div0Step2" class = "container-fluid">
		<div class="row">
		    <div id ="div1"class="col-lg-12">
		        <p> <h4>Define the type of each line with the drop-down menu</h4> </p>
		    </div>
		</div>
		
		<div class="row">
			<div class="col-lg-6">
				<table border="4" class="table table-bordered table-hover" id="restab">
					<thead>
						<tr>
						  <th class='meta' width="35%">Headers</th>
						   <th class='meta' width="28%">Types</th>
						   <th class='meta' width="17%">Codes</th>
						   <th class='meta' width="20%">Coefficients</th>
						</tr>
					</thead>
				
					{% for Col, numCol in HEADER0.items %}
						<tr>
							<td>{{ Col }}</td>
							<td >
							<select name="col_{{numCol}}" id="col_{{numCol}}" onchange="Produit({{numCol}});">
								<option value="notUsed" selected>Inutilisée</option>
								 {% for typeCol, numType in TYPESCOLS.items %}    
									<option value="type_{{numType}}">{{ typeCol }}</option>
						 	  	 {% endfor %}
							</select>
							</td>
							
							
							<td>
							<select name="code_{{numCol}}" id="code_{{numCol}}" onchange="Codes({{numCol}});" 
								disabled="disabled" style="visibility: hidden;">
								{% for code in CODES %}
									<option value="{{ code }}">{{ code }}</option>
							 	{% endfor %}
						   </select>
							</td>
					
						   	<td>
						   <input type="text" name="coef_{{numCol}}" id="coef_{{numCol}}" disabled="disabled" 
							style="visibility: hidden;" value=""/>
						   </td>
				   		</tr> 
					{% endfor %}
				</table>			
			</div>


			<div class="col-lg-6">
				<table  border="4" class="table table-bordered table-hover" id="restab">
				   <thead>
					   <tr>
						   <th class='meta' width="35%">Headers</th>
						   <th class='meta' width="28%">Types</th>
						   <th class='meta' width="17%">Codes</th>
						   <th class='meta' width="20%">Coefficients</th>
					   </tr>
				   </thead>
				   
					{% for col, numCol in HEADER1.items %}
					 	<tr>
						  	<td>{{ col }}</td>
						  	<td >
							<select name="col_{{numCol}}" id="col_{{numCol}}" onchange="Produit({{numCol}});">
								<option value="notUsed" selected>Inutilisée</option>
								 {% for typeCol, numType in TYPESCOLS.items %}    
									<option value="type_{{numType}}">{{ typeCol }}</option>
						 	  	 {% endfor %}
							</select>
							</td>
						  	
						  	
						   	<td >
							<select name="code_{{numCol}}" id="code_{{numCol}}" onchange="Codes({{numCol}});"
									disabled="disabled" style="visibility: hidden;">
								{% for code in CODES %}
									<option value="{{ code }}">{{ code }}</option>
							 	{% endfor %}
						   </select>
							</td>

						   <td>
						   <input type="text" name="coef_{{numCol}}" id="coef_{{numCol}}" disabled="disabled" 
							style="visibility: hidden;" value=""/>
							</td>
				   		</tr> 
					{% endfor %}
					{% for typeCol, numType in TYPESCOLS.items %}
						<input type="hidden" name="type_{{numType}}" id="type_{{numType}}" value="{{ typeCol }}"/>
					{% endfor %}
					{% for code, coef in COEFFS.items %}
						<input type="hidden" name="{{code}}" id="{{code}}" value="{{ coef }}"/>
					{% endfor %}
				   	{% if HEADER0|length > HEADER1|length %}
				   		<tr> <td></td> <td></td> <td></td> </tr>
					{% endif %}
				</table>
			</div>
		</div>

		<div class="row">
		    <div    class="col-lg-12">
        	<h4>
        		<!-- Please enter the number of points required to admit the 1st group test and the second one -->
        		The points required to admit 1<sup>st</sup> and 2<sup>nd</sup> group exam for {% now "Y" %} session
        	</h4> 
		    </div>
		</div>

		<div class = "row">
		    <div  class="col-lg-4">   </div>
		    <div  class="col-lg-4">
				<table border="4" class="table table-bordered table-hover" id="restab">
					<tr>
						<th class='meta'>Groups&nbsp;&nbsp;&nbsp;</th>
						<th class='meta'>Points</th>
					</tr>
	
					<tr>
						<td class="matiere">1<sup>st</sup> Group</td>
						<td class="coefficient">
					   		<input type="text" name="nbPointGrpe1" value="{{POINTS1GRPE}}" readonly/>
					   </td>
					</tr>
	
					<tr>
					   <td class="matiere">2<sup>nd</sup> Group</td>
					   <td class="coefficient">
						   <input type="text" name="nbPointGrpe2" value="{{POINTS2GRPE}}" readonly/>
					   </td>
					</tr>
				</table>
		    </div>
		    <div  class="col-lg-3"> </br> </br></br> </br> </br> </br>
				<span class = "right">
					<button onclick="submit" class="btn btn-primary btn-md" id="group-btn">
										continuer <i class="fa fa-sign-in"> </i>
					</button>
				</span>
		    </div>
		    <div  class="col-lg-1"></div>
		</div>
	</div>
	</form>
	<span> 
		<input type="text" name="" disabled="disabled" style="visibility: hidden;"/>
		<input type="text" name="" disabled="disabled" style="visibility: hidden;"/> 
	</span>
{% endblock %}

<!-- ################################################################################### -->
<script type="text/javascript">
	function Produit(numCol){
		typeCol = document.getElementById('col_'+ numCol);
		code = document.getElementById('code_'+ numCol);
		coef = document.getElementById('coef_'+ numCol);
		typesEntete = document.getElementById('typesHeader');
		typesMatter = document.getElementById('typesMatter');
		if (typesMatter.value.includes(typeCol.value) && !typesEntete.value.includes(typeCol.value)){
			code.selectedIndex = -1;
			code.disabled = false;
			code.style.visibility = 'visible';
		}else{
			code.disabled = true;
			code.style.visibility = 'hidden';
			coef.disabled = true;
			coef.style.visibility = 'hidden';
		}
	}
	
	function Codes(numCol){
		typeCol = document.getElementById('col_'+ numCol);
		code = document.getElementById('code_'+ numCol);
		coef = document.getElementById('coef_'+ numCol);
		//alert(coeff.value);
		if (!typesMatter.value.includes(typeCol.value) && typesEntete.value.includes(typeCol.value)){
			code.disabled = true;
			code.style.visibility = 'hidden';
			coef.disabled = true;
			coef.style.visibility = 'hidden';
		}else{
			coef.value = document.getElementById(code.value).value;
			coef.disabled = false;
			coef.style.visibility = 'visible';
			coef.readOnly = true;
		}
	}
</script>
