{% comment %}
<?php
    
    if(isset($_POST["nbPointGrpe1"]) && isset($_POST["nbPointGrpe2"])){
        
        $nbPointGrpe1 = $_POST["nbPointGrpe1"];
        $nbPointGrpe2 = $_POST["nbPointGrpe2"];
        
	    $MonJury->calcul_notes($nbPointGrpe1, $nbPointGrpe2);
    }
?>
{% endcomment %}
<div class="divStep3" id="Vfirst"><?php $pm->afficheAdmis1grpe(); ?></div>

<div class="divStep3" id="Vsnd"> <?php $pm->afficheAut2grpe(); ?>	</div>

<div class="divStep3" id="Vrefu"> <?php $pm->afficheRefu1grpe(); ?>	</div>

<div class="divStep3" id="Vstat"> <?php $pm->afficheStats1grpe(); ?></div>



