{%comment%}
{% include "calculator/header.html" %}

<div  id="admin-user">
	<span> 
		<a  href="{% url 'admins' %}">Admin space</a>
	</span>
	<span> 
		<a  href="helps/index.php" class="right">Help&nbsp;</a>
	</span>
</div>
{%endcomment%}
