{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<title>Calculette|</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'ressources/sweetalert.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.jpg' %}"/>
<link rel="stylesheet" media="screen" type="text/css" title="Design" href="{% static 'ressources/astyles1.css' %}" />
<!--  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link href="{% static 'ressources/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{% static 'ressources/bootstrap/css/bootstrap.min.css' %}" 
integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 

<script src="{% static 'ressources/sweetalert.min.js' %}"></script>
<script src="{% static 'ressources/sweetalert-dev.js' %}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
<script src="{% static 'ressources/jquery/jquery-3.2.1.min.js' %}"></script>
<!-- my scripts js-->

<header class="page-header" id="head">
    <div id="entete" class="row">
	    <div class="col-lg-11">
  			<a href="{% url 'home' %}" title = "Calculette" class="header">
  			    <span id="title">Calculette du Bacalauréat</span>
  			</a> 
	    </div>
	    
	    <div class="col-lg-1">
	        <span id="niger"><img src="{% static 'images/niger.jpg' %}"></span> 
	    </div>
    </div>  
</header>
