{% comment %}
<?php
/**
 * Récupérer la véritable adresse IP d'un visiteur
 */
function get_user_ip() {
	// On test les variables serveur…
    foreach ( array(
             'HTTP_CLIENT_IP', 
             'HTTP_X_FORWARDED_FOR', 
             'HTTP_X_FORWARDED', 
             'HTTP_X_CLUSTER_CLIENT_IP', 
             'HTTP_FORWARDED_FOR', 
             'HTTP_FORWARDED', 
             'REMOTE_ADDR' ) as $key ) {
		// … si elles existes…
		if ( array_key_exists( $key, $_SERVER ) === true ) {
			// … et pour chacune de leurs valeurs…
		    foreach ( explode( ',', $_SERVER[ $key ] ) as $ip ) {
		        $ip = trim( $ip );
		        // … si c'est une adresse IP, mais pas une interne (ex : 192.0.0.1)…
		        if ( filter_var( $ip, FILTER_VALIDATE_IP, FILTER_FLAG_NO_PRIV_RANGE | FILTER_FLAG_NO_RES_RANGE ) !== false 
		          // … ou une adresse de loopback (ex : 127.0.0.1)…
		          && ( ( ip2long( $ip ) & 0xff000000 ) != 0x7f000000 ) ) {
		          	// … on la retourne 
		            return $ip;
		        }
		    }
		}
    }
    // Si aucune valeur n'est correte on renvoie false
    return false;
 }
if (get_user_ip()){
 	$to = "calculator@univ-maradi-baccalaureate-calculator.org";
	$from = "hka2r89@gmail.com";
	$subject1 = "Baccalaureate Calculator";
	$message1 = "Quelqu'un vient de visiter votre page d'aide "."\nSon adresse ip est: ".get_user_ip();
	$headers1 = "From:" . $from;
	mail($to, $subject1, $message1, $headers1);
}
 ?>
{% endcomment %}


{% load static %}
{% include "calculator/header.html" %}
<link rel="stylesheet" href="{% static 'ressources/helps.main.css' %}"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>



<body class="homepage">
<div id="admin-user">
	<span> 
		<a  href="{% url 'home' %}">User space</a>
	</span>
	<span> 
		<a  href="{% url 'helps' %}" class="right">Help&nbsp;</a>
	</span>
</div>

<div id="page-wrapper">	
	<div id="intro-wrapper" class="wrapper style1">
		<div class="title">Introduction</div>
			<section id="intro" class="container">
				<p class="style2">
				 The Baccalaureate Calculator is a notes processing application intended to the 
				 service of exam management in Niger. It works by providing it an excel file 
				 containing candidates's notes. This file represents the main informations about the 
				 candidates each followed by grades he obtained after the first exams session. It is 
				 a csv file in matrix form whose online we have the candidates identifiers and in 
				 column relating informations about them. 
				 <a href = "{% static 'data/exampleOfCsvFile.csv' %}" id = "eocf">Here</a> 
				 an example of the csv file for the serie A4 (Literary Baccalaureate).
				</p>
			</section>
		</div>
	</div>
	
	<!-- Main -->
	<div class="wrapper style2">
		<div class="title" id="info">How to use it</div>
			<div id="main" class="container">
				<!-- Features -->
				<section id="features">
					<header class="style1">
						<p>
						The use of the Baccalaureate calculator requires a right of access. When you 
						are a user authorized to access this application, the first thing you will do 
						is to authenticate yourself. For that you must enter your login and your 
						password. Then you must also choose a serie to which you are associated. It 
						should be noted that a given user is associated with one and only one serie. 
						This is to say that he does not have the right to process data for a serie 
						that was not associated with him.
						<br/><br/>
						<h3>User authentication page</h3>
						<img src="{% static 'images/pageAceuil.png' %}" alt="User authentication page">
						</p>
						<p>
						The number <font weight="bold">1</font> in red at the top left indicates the 
						admin space. It's a link that will take you to the administration interface. 
						However, not all users have access to this interface. It is intended for a 
						user with more rights and who must be a member of the Central Exams Service in 
						Niger.
						</p>
						<p>
						As we mentioned earlier, a given user is associated with a serie. The number 2 
						in red indicates a selection list where user is invited to choose the serie 
						which has been associated to him without which its authentication will not be 
						validated.
						</p>
						<p>
						At the Baccalaureate exams in Niger, after the first group tests, the candidates 
						allowed to pass the second group tests are given a time of 3 days to reflect 
						and decide on the subjects they wish to take up again. This constitutes a 
						computing interruption at the Baccalaureate Calculator level. So the processing 
						data of each user is stored. After the choice of the second group candidates, 
						user does not need to restart the process on zero. He is invited this time to 
						check the box at number 3 which asks him if his passage is for the second group 
						tests processing. After that, user is automatically located at the data 
						processing level of the second group candidates. 
						</p>
						<p>
						The fourth number in red at the top right indicates the help link and allows 
						the user to display the current help page. We will eventually talk about the 
						application after being authenticated.
						</p>
						<p>
						The user space of Baccalaureate Calculator consists of six mains steps, each 
						provides a specific and very simple interface. These steps are the foundation 
						for this web application service and will be described in more detail in the 
						following lines.
						</p>
					</header>
				
					<section>
						<h4><font weight="bold">1.</font></h4>
						<p> 
						 The notes file loading page is a fundamental part of the 
						 application. In other words it allows the user to enter a file 
						 containing the candidate's baccalaureate grades. This file will 
						 serve as input for each result provided by the application. It's 
						 the first step among the six others.
						<br/>
						<br/>
						<img src="{% static 'images/pageStep1.png' %}" alt="Page at step 1" id="pageStep1">
						</p>
					</section>
					<br/>
					<section>
						<h4><font weight="bold">2.</font></h4>
						<p> 
						 When you successfully load the file, in step 2 you are invited to verify the 
						 accuracy of the informations concerning the subjects coefficients and the 
						 conditions of admission fixed by the central service. The data displayed on 
						 this page comes directly from the database. Here the role of the user is to 
						 check and confirm these informations or modify if there is an error. In case 
						 everything is correct, he can move on to the next step. The subjects of type 
						 <i>``Mat. 1er/2nd grpe``</i> are pointing subjects that are composed both in the 
						 first and second group tests while subjects of type <i>``Mat. 1er grpe``</i> or 
						 <i>``Mat. 2nd grpe``</i> are these which are composed respectively in only the 
						 first or second group tests.
						<br/>
						<br/>
						<img src="{% static 'images/pageStep2.png' %}" alt="Page at step 2" id="pageStep2">
						</p>
					</section>
					<br/>
					<section>
						<h4><font weight="bold">3.</font></h4>
						<p> 
						After checking the accuracy of the form's informations in step 2, the user 
						can go to the next step the one that will allow him to view and download the 
						first exam session results. These results can be viewed directly on the pages of the 
						application at step 3 as shown in the following figure. Lists and transcipts are 
						downloaded via the `Download` drop down menu at the top right of the application.
						<br/>
						<br/>
						<img src="{% static 'images/pageStep3.png' %}" alt="Page at step 3" id="pageStep3" height="800">
						</p>
					</section>
					<br/>
					<section>
						<h4><font weight="bold">4.</font></h4>
						<p> 
						It was stated previously that at this step the candiates are asked to make their 
						choices for the second group tests so that the process continues. This step makes 
						it possible to mark the different subjects chosen by the candidates who pass the 
						second group tests. Just a simple click on the check box to mark the choice of 
						candidate as can be seen in the following figure.
						<br/>
						<br/>
						<img src="{% static 'images/pageStep4.png' %}" alt="Page at step 4" id="pageStep4" height="900">
						</p>
					</section>
					<br/>
					<section>
						<h4><font weight="bold">5.</font></h4>
						<p> 
						 At Step 5 the candidates's notes of the second group test are filled in.
						<br/>
						<br/>
						<img src="{% static 'images/pageStep5.png' %}" alt="Page at step 5" id="pageStep5" height="900">
						</p>
					</section>
					<br/>
					<section>
						<h4><font weight="bold">6.</font></h4>
						<p> 
						 Step 6 is synonymous with step 3 of the application. The user can view and 
						 download the lists and transcipts of canditates at the second group tests.
						<br/>
						<br/>
						<img src="{% static 'images/pageStep6.png' %}" alt="Page at step 6" id="pageStep6" height="800"> 
						</p>
					</section>
				</section>
			</div>
		</div>
	</div>
	<hr/>
	<!-- Footer -->
	<div id="footer-wrapper" class="wrapper">
		<div class="title" id ="Contact">To contact us</div>
			<div id="footer" class="container">
				<header class="style1">
				<p class="style2">You are looking for additional informations ?</p>
				</header>
				<p class="style2"><span class="icon fa-envelope"> &nbsp; Please email us</span> </p>
			<div class="row 150%">
				<div class="6u 12u(mobile)">

				<!-- Contact Form -->
					<section>
						<form method="post" action="models/contact_us.php">
							<div class="row 50%">
								<div class="6u 12u(mobile)">
									<input type="text" name="name" id="contact-name" placeholder="Your name" />
								</div>
								<div class="6u 12u(mobile)">
									<input type="text" name="email" id="contact-email" placeholder="Your Email" onblur="verifMail(this)"/>
								</div>
							</div>
							<div class="row 50%">
								<div class = "12u">
									<textarea name = "message" id = "contact-message" placeholder = "Message" rows="4">
									</textarea>
								</div>
							</div>
							<div class = "row">
								<div class = "12u">
									<ul class = "actions">
										<input type = "reset" class = "style1" value = "Reset" />
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input type = "submit" name = "submit" class="style1" value = "Send" />
									</ul>
								</div>
							</div>
						</form>
					</section>
				</div>
				<div class="6u 12u(mobile)">
				<!-- Contact -->
					<h3 class="icon fa-home">Adress</h3>
					<p>Université Dan Dicko Dankoulodo de Maradi
					<br/>BP : 465 Maradi, Niger</p>
					<a href="https://www.facebook.com/univmaradi/" target = "_blank">FB Home page</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
