{% load static %}
{% include "calculator/header.html" %}
{% block content %}
	{% if request.session.AUTHENTICATED and request.session.STEP == 1 %}
		{% include "calculator/act1.html" %}
	{% endif %}

	{% if request.session.UPLOADED and request.session.STEP == 2 %}
		{% include "calculator/act2.html" %}
	{% endif %}

	{% if request.session.UPLOADED and request.session.STEP == 3 %}
		{% include "calculator/subact3.html" %}
		<p>dicHeader:</p>{{ dicHeader }}
		</br></br></br>
		<p>STEP2DATA</p>{{ STEP2DATA }}
		</br></br></br>
		<p>TYPESCODES:</p>{{ TYPESCODES }}
		</br></br></br>
		<p>COEFFS:</p>{{ COEFFS }}
		</br></br></br>
		<p>ADMIS1GRPE:</p>{{ ADMIS1GRPE }}
		</br></br></br>
		<p>ADMIS2GRPE:</p>{{ ADMIS2GRPE }}
		</br></br></br>
		<p>REFUSES1GRPE:</p>{{ REFUSES1GRPE }}
		</br></br></br>
		<p>HEADERS:</p>{{ HEADERS }}
		</br></br></br>
		<p>MATTERS:</p>{{ MATTERS }}
	{% endif %}


	{% comment %}
	{% elif request.session.step == 2 %}
		{% if upfile %}
			{% include "calculator/act2.html" %}
		{% else %}
			{% include "calculator/act1.html" %}
		{% endif %}
	{% else %}
		{% include "calculator/act2.html" %}

	{%endcomment%}
{% endblock %}
