{% comment %}
<?php

    require("controllers/contenuEtape3.js");
	$login = $_SESSION["login"];
	
	$serie = $_SESSION["serie@".$login];
	
	$dir_serie = $serie;
	
?>
{% endcomment %}
<div id="menu">   
	<div id="menuStep3">

		<ul id="navStep3">

		    <li>
		        <a href = "javascript:void(0)" id = "FirstGrpe" onclick = "ChooseFirst();" 
		            title = "Admitted to the 1st goup tests">
		            <strong>Admitted to the 1<sup>st</sup> group tests</strong>
		        </a>
		    </li>
		    
		    <li>
		        <a href = "javascript:void(0)" id = "SndGrpe" onclick = "ChooseSnd();" 
		            title = "Allowed to pass the 2nd group tests">
		            <strong>&nbsp;Allowed to the 2<sup>nd</sup> group tests</strong>
		        </a>
		    </li>
		    
		    <li>
		        <a href = "javascript:void(0)" id = "Refused" onclick = "ChooseRefused();" 
		            title = "Adjourned candidates at 1st group tests">
		            <strong>&nbsp;Adjourned candidates</strong>
		        </a>
		    </li>
		    
		    <li>
		        <a href = "javascript:void(0)" id = "Statistique" onclick = "ChooseStatistique();" 
		            title = "preliminary statistics of results">
		            <strong>&nbsp;Statistics of results</strong>
		        </a>
		    </li>
		    
		    <li class="righttest" >
		        <strong>&nbsp;Download&nbsp;&nbsp;</strong>
		        <ul class='telecharger'>
		            <li >
		                <a href='<?php echo $dir_serie."/listeAdmis1grpe".$serie.".php"; ?>' target='_blank'>
		                    1<sup>st</sup> group admitted list
		                </a>
		            </li>
		            
			        <li>
			           <a href='<?php echo $dir_serie."/relevesAdmis1grpe".$serie.".php"; ?>' target='_blank'>
			                1<sup>st</sup> group admitted transcripts
			            </a>
			        </li>
			        
			        <li>
			            <a href='<?php echo $dir_serie."/listeAut2grpe".$serie.".php"; ?>' target='_blank'>
			                Allowed to the 2<sup>nd</sup> group list
			            </a>
			        </li>
			        
			        <li>
			            <a href='<?php echo $dir_serie."/relevesAut2grpe".$serie.".php"; ?>' target='_blank'>
			                Allowed to the 2<sup>nd</sup> group transcripts
			            </a>
			        </li>
			        
			        <li >
			            <a href='<?php echo $dir_serie."/listeRefu1grpe".$serie.".php"; ?>' target='_blank'>
			               1<sup>st</sup> group adjourned list
			            </a>
			        </li>
			        
			        <li>
			            <a href='<?php echo $dir_serie."/relevesRefu1grpe".$serie.".php"; ?>' target='_blank'>
			                1<sup>st</sup> group adjourned transcripts
			            </a>
			       </li>
			       
			        <li >
			            <a href = '<?php echo $dir_serie."/stats1grpe".$serie.".php"; ?>' target = '_blank'>
			                Statistics of results
			            </a>
			        </li>
			        
			    </ul>
		    </li>
		</ul>
		<a class="right" href=" {% url 'logout' %}">
		<i class="fa fa-sign-out" aria-hidden="true"></i>Sortir&nbsp;</a> 
	</div>
</div>
