{% load static %}
{% include "calculator/header.html" %}

	<body class="homepage">
		<div  id="admin-user">
			<span> 
				<a  href="/admin/">Admin space</a>
			</span>
			<span> 
				<a  href="{% url 'helps' %}" class="right">Help&nbsp;</a>
			</span>
		</div>

		<div class="container" id="center_div">
			<div class="row">	
				<div class="col-md-offset-5 col-md-4"></div>		
				<div class="col-md-offset-5 col-md-5">		
					<div class="form-login">
						<h2>
							Bienvenue
						</h2>
						{% block content %}
							<form action="/main/login-success/" method="post">
								{% csrf_token %}
								<table>	
									<span style="color:rebeccapurple;">
										{{ MESSAGE }}
									</span>
									{{ FORM }} 
								</table>
								<button onclick="submit" class="btn btn-primary btn-md" id="group-btn">
									login <i class="fa fa-sign-in"> </i>
								</button>
							</form>
						{% endblock %}
					</div>	
				</div>
				<div class="col-md-offset-5 col-md-3">
				</div>	
			</div>
		</div>
	</body>
</html>
