body {
	left: 1%;
	right:1%;
	width:98%;
	height:auto;
	position:relative;
	background-attachment:fixed;
	-webkit-font-smoothing: antialiased;
	font-family: "Times New Roman", Times, serif;
	background: #e2e2e2 none repeat scroll 0 0 !important;
	background-image: url(/static/images/bg.png) !important;
}


#entete a.header {
	padding:0;
	padding:0;
	height:40px;
	display:block;
	text-align:justify;
}


#entete a.header, #entete a.header:link, #entete a.header:hover, #entete a.header:visited {
	color:#FFFFFF;
	font-size:30px;
    text-decoration:none;
}


#entete span#titre {
	display:block;
	color:#FFFFFF;
	font-size:1.1em;
	line-height:1.2em;
	font-weight:normal;
	text-align:justify;
	vertical-align:middle;
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
	
	
	padding:0;
	margin:0 0;
	height:20px;
	padding-bottom:0.6em;
	padding-left:0.1em;
	padding-top:0.6em;
}


#menu {
	background:#bfbfbf none repeat scroll 0 0;
	height:32px;
	margin:0 auto;
	padding:0;
	max-width:1280px;
	color:white;
	font-weight:bold;
	vertical-align:middle;
}


#nav {
	line-height:30px;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
}


#nav li {
	float:left;
	position:relative;
	list-style-position:outside;
	list-style-type:none;
}


#nav a {
	z-index:9;
	color:black;
	display:block;
	padding: 0 5px;
	text-decoration:none;
	background-color:#bfbfbf;
	border:1px solid #bfbfbf;
}


#nav a:hover {
	background-color:#FFFFFF;
	color:#333333;
}


#etape{
    background-color: #cccccc !important;
    border-radius: 5px;
    border: 2px dotted #cccccc;
}


.right{
	float:right;
}


/*position div à l'étape 1*/
.div1Step1, .divStep4{
	position: relative;
	margin-top:3% !important;
	width:auto;
	height:auto;
	font-weight:bold;
}


.col-md-6 {
	background-image: url(../images/bg.png) !important;
	text-align:left;
	height:100%;
}


.container-fluid{
	background-color:#E6E6E6;
}


/*gestion d'entete*/
#head{
	width:100%;
	color:#FFFFFF;
	background-color:#8181F7;
}


/*Niger*/
#head span#hNiger{
	font-size:1.5em;
	float: right;
	color:#FFFFFF;
	text-decoration: underline wavy #D8D8D8;
	text-align:center; 
	font-family: "Times New Roman", Times, serif;
	font-style: bold;
}


/*la page qui s'affiche lorque le modèle n'est pas implementé*/
#noModele{
	position: relative;
	border:double;
	margin-left: 2%;
	margin-right: 1%;
	margin-top:5%;
	width:97%;
	height:300px;
	color:blue;
	font-size:3em;
	font-weight:bold;
	font-family: Snell Roundhand, cursive;
}


/*la page qui s'affiche lorque le lien n'est pas actif*/
#nolink{
	position: relative;
	border:double;
	margin-left: 2%;
	margin-right: 1%;
	margin-top:5%;
	width:97%;
	height:300px;
	color:blue;
	font-size:3em;
	font-weight:bold;
	font-family: Snell Roundhand, cursive;
}


/*le menu principale*/
#mainMenu {
	position: relative;
	background:#E6E6E6 none repeat scroll 0 0;
	height:34.5px;
	padding:0;
	margin-top:0.3%;
	width:auto;
	color:white;
}


#navMainMenu {
	line-height:30px;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
}


#navMainMenu li {
	float:left;
	position:relative;
	list-style-position:outside;
	list-style-type:none;
}


#navMainMenu a {
	background-color:#E6E6E6;
	border:1px solid #333333;
	color:black;
	display:block;
	padding:0 5px;
	text-decoration:none;
	z-index:9;
}


#navMainMenu a:hover {
	background-color:white;
	color:blue;
}


/*position des div à l'étape 2*/
#div0Step2{
	line-height:1em;
	margin-top:3%;
}


#div1{
	overflow: auto; 
}


/*les sous menu au niveau de l'étape 3*/
#menuStep3{
	position: relative;
	height:34.5px;
	padding:0;
	margin-top:0.1%;
	color:black;
}


#navStep3 {
	line-height:30px;
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
}


#navStep3 li {
	margin-left: 0.1%;
	float:left;
	position:relative;
	list-style-position:outside;
	list-style-type:none;
}


#navStep3 a {
	color:black;
	display:block;
	padding:0 5px;
	text-decoration:none;
}


#navStep3 a:hover {
	background-color:white;
	color:blue;
}


ul#navStep3 li.right {
	float:right;
}


ul#navStep3 li ul li {
	right:111px;
	width:175px;
}


/*pour le menu derourant de Télécharger*/
ul ul {
	display: none;
}


li:hover ul.telecharger, li li:hover ul.telecharger {
	display:block;
	padding:5px;
	position: absolute;
	text-align:left;
}


.telecharger li{
    background-color:#fbfcfc;
}


li:hover ul.navStep3, li li:hover ul.navStep3 {
	display:block;
	position: absolute;
}


.div1Step1, .divStep3, .container-fluid, .divStep4, .divStep5, .divStep6, .foot{
	width: auto;
	height: auto;
	margin-top: 1%;
	padding: 2px !important;
	background: #ffffff !important;
	border:solid 2px #e2e2e2 !important;
	box-shadow: -2px -2px 5px 0px #c0c0c0;
	-o-box-shadow: -2px -2px 5px 0px #c0c0c0;
	-moz-box-shadow: -2px -2px 5px 0px #c0c0c0;
    -webkit-box-shadow: -2px -2px 5px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=315, Strength=5);
}


/*les div à l'étape 4*/
.divStep4{
	width:auto;
	height:auto;
	background:#E6E6E6;
	margin-top:1%;
}


/*les div à l'étape 5*/
.divStep5{
	width:auto;
	height:auto;
	background:#E6E6E6;
	margin-top:1%;
}


/*les div à l'étape 6*/
.divStep6{
	width:auto;
	height:auto;
	background:#E6E6E6;
	margin-top:1%;
}


.meta{
    background-color:#d3d7cf;
    text-align:center;
}


/*Admin*/
#admin-user{
	width:auto;
	height:auto;
	color: white;
	margin-top:0.05%;
	font-size:1em;
	background:#bfbfbf none repeat scroll 0 0;
}


input:not(#userName):not(#userPassword):not(#checkbox2grpe):not(#adminlogin):not(#adminpwd):not(#fichier){
    width: 100%;
    height:98%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
}


@import url(http://fonts.googleapis.com/css?family=Roboto:400);

#center_div{
	position: relative;
	padding-top: 100px;
}


h2 { 
	border:1px solid #fff; 
	border-bottom-width:1px;
	padding-bottom:10px;
	text-align: center;
	font-weight:bold;
	font-family: "Times New Roman", Georgia, Serif;
}


h4 { 
	text-align: center;
	font-weight:bold;
	font-family: "Times New Roman", Georgia, Serif;
}

	
#group-btn, #adminbtn :hover{
    	color: white;
}


#group-btn:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(2px);
}


#group-btn, #adminbtn{
	cursor: pointer;
}


#restab{
	table-layout: fixed;
	height:100%;
	width:100%;
	border:2px #ffffff;
	background-image: url(../images/bg.png)!important;
}

td{
   overflow:auto;
   word-wrap:break-word;
}

.form-login {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	border-color:#d2d2d2;
	border-width: 10px;
	height: 340px;
	width: 450px;
	border: 4px solid rgba(0,0,0,0.1); 
	text-align: center; 
}


@import "bourbon";
.form-signin {
	max-width: 380px;
	height: 340px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 4px solid rgba(0,0,0,0.1);  

	.form-control{
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
		margin-bottom: -1px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="password"] {
		margin-bottom: 20px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}


.form-login, .form-signin {
	-moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
	-o-box-shadow: -10px -10px 5px #656565;
	border-radius: 140px / 1px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5); 
}

[class*="col"] { 
    margin-bottom: 20px; 
}
   
img { width: 100%; }

@media (min-width: 768px) {
	.container {
		width: 750px;
	}

}

@media (min-width: 992px) {
 	.container {
		width: 970px;
 	}

}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}

}

@media screen and (max-width: 767px) {
	table caption {
		border-bottom: 1px solid #ddd;
	}
}



/*###########################################################################################################################
/*###########################################################################################################################
/*###########################################################################################################################
/*###########################################################################################################################
/*###########################################################################################################################


/*gestion d'entete*/
#head{
	width:100%;
	color:#FFFFFF;
	background-color:#8181F7;
}



#entete a.header {
	padding:0;
	padding:0;
	height:40px;
	display:block;
	text-align:justify;
}


#entete a.header, #entete a.header:link, #entete a.header:hover, #entete a.header:visited {
	color:#FFFFFF;
	font-size:30px;
    text-decoration:none;
}


#entete span#titre {
	display:block;
	color:#FFFFFF;
	font-size:1.1em;
	line-height:1.2em;
	font-weight:normal;
	text-align:justify;
	vertical-align:middle;
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
	
	
	padding:0;
	margin:0 0;
	height:20px;
	padding-bottom:0.6em;
	padding-left:0.1em;
	padding-top:0.6em;
}





.right{
	float:right;
}



/*Admin*/
#admin-user{
	width:auto;
	height:auto;
	color: white;
	margin-top:0.05%;
	font-size:1em;
	background:#bfbfbf none repeat scroll 0 0;
}

a.right {
	float:right;
	position:relative;
}


/* Intro */

#intro {
	text-align: center;
}

#intro > .style1 {
	font-size: 1.5em;
	letter-spacing: 0.075em;
}

#intro > .style2 {
	font-size: 1.5em;
	letter-spacing: 0.075em;
	line-height: 1.35em;
	padding: 1em 1em 1em 1em;
	margin-bottom: 1em;
}

#intro > .style2 {
	font-weight: 700;
	color: #fff;
	border-radius: 0.35em;
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
}

#intro > .style2 a {
	color: inherit;
	text-decoration: none;
}

#intro > .style3 {
	font-size: 0.5em;
	width: 30em;
	margin: 0 auto;
}



/* Wrappers */

.wrapper {
	position: relative;
}

.wrapper .title {
	position: absolute;
	top: 0;
	left: 50%;
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	letter-spacing: 0.25em;
}

.wrapper .title:before {
	content: '';
	position: absolute;
	bottom: -38px;
	left: -35px;
	width: 35px;
	height: 38px;
	background: url("images/shadow.png");
}

.wrapper .title:after {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	content: '';
	position: absolute;
	bottom: -38px;
	right: -35px;
	width: 35px;
	height: 38px;
	background: url("images/shadow.png");
}

.wrapper.style1 .title {
	background: #bfbfbf url("images/overlay.png");
	color: #fff;
}

.wrapper.style1 {
	margin-top: 1px;
	background: #e97770 url("images/overlay.png");
	color: #eee;
	color: rgba(255, 255, 255, 0.75);
}

p {
	text-align:justify;
	color:#fff !important;
	font-weight:bold !important;
}

.wrapper.style2 .title {
	background: #bfbfbf;
	color: #fff;
}

.wrapper.style2 {
	margin-top: 1px;
	background: #e97770 url("images/overlay.png");
	color: #eee;
	color: rgba(255, 255, 255, 0.75);
}
/*########################################################################################################################*/


.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6, .wrapper.style1 strong, .wrapper.style1 b, .wrapper.style1 a {
	color: #fff;
}




.wrapper.style3 {
	background: #f3f3f3 url("images/overlay.png");
}

.wrapper.style3 .title {
	background: #f3f3f3 url("images/overlay.png");
	color: #484d55;
}

.wrapper.style3 .image {
	border: solid 10px #fff;
}

#header-wrapper {
	background: url("images/banner.jpg") center center;
	background-size: cover;
}

#header-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("images/overlay.png");
}

#footer-wrapper {
	background: #e97770 url("images/overlay.png");
	color: #eee;
	color: rgba(255, 255, 255, 0.5);
}

#footer-wrapper h1, #footer-wrapper h2, #footer-wrapper h3, #footer-wrapper h4, #footer-wrapper h5, #footer-wrapper h6, #footer-wrapper strong, #footer-wrapper b, #footer-wrapper a {
			color: #fff;
}

#footer-wrapper hr {
	border-top-color: #333;
	border-top-color: rgba(255, 255, 255, 0.05);
}

#footer-wrapper form input[type="text"],
#footer-wrapper form input[type="email"],
#footer-wrapper form input[type="password"],
#footer-wrapper form select,
#footer-wrapper form textarea {
	background-image: url(../images/bg.png) !important;
	box-shadow: none;
}

#footer-wrapper form input[type="text"]:focus,
#footer-wrapper form input[type="email"]:focus,
#footer-wrapper form input[type="password"]:focus,
#footer-wrapper form select:focus,
#footer-wrapper form textarea:focus {
	background: #fff !important;
}

#footer-wrapper input[type="button"],
#footer-wrapper input[type="submit"],
#footer-wrapper input[type="reset"],
#footer-wrapper button,
#footer-wrapper .button {
	color: #fff;
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
}

#footer-wrapper input[type="button"]:hover,
#footer-wrapper input[type="submit"]:hover,
#footer-wrapper input[type="reset"]:hover,
#footer-wrapper button:hover,
#footer-wrapper .button:hover {
	color: #fff !important;
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.65);
}

#footer-wrapper input[type="button"]:active,
#footer-wrapper input[type="submit"]:active,
#footer-wrapper input[type="reset"]:active,
#footer-wrapper button:active,
#footer-wrapper .button:active {
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
}

#footer-wrapper input[type="button"].style2:active,
#footer-wrapper input[type="submit"].style2:active,
#footer-wrapper input[type="reset"].style2:active,
#footer-wrapper button.style2:active,
#footer-wrapper .button.style2:active {
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
}

#footer-wrapper .title {
	background: #bfbfbf url("images/overlay.png");
	color: #eee;
}

#footer-wrapper header.style1 h2 {
	color: #fff;
}

#footer-wrapper header.style1 .p {
	color: inherit;
}

#footer-wrapper .feature-list section {
	border-top-color: #333;
	border-top-color: rgba(255, 255, 255, 0.05);
}

#footer-wrapper .feature-list h3:before {
	background: #3d4249 url("images/overlay.png");
}


/* Feature List */

.feature-list section {
	padding-top: 2em;
	border-top: solid 1px #eee;
}

.feature-list .row:first-child section {
	padding-top: 0;
	border-top: 0;
}

.feature-list h3 {
	margin: 0 0 0.75em 0;
	font-size: 1.15em;
	letter-spacing: 0.05em;
	margin-top: -0.35em;
}

.feature-list h3:before {
	width: 64px;
	height: 64px;
	line-height: 64px;
	margin-right: 0em;
	font-size: 32px;
	top: 0.2em;
}

.feature-list.small h3:before {
	font-size: 24px;
	line-height: 45px;
	width: 45px;
	height: 45px;
}



/* Logo */

#logo h1 {
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
}

#logo p {
	color: #eee;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}






[class*="col"] { 
    margin-bottom: 20px; 
}
   
img { width: 100%; }

@media (min-width: 768px) {
	.container {
		width: 750px;
	}

}

@media (min-width: 992px) {
 	.container {
		width: 970px;
 	}

}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}

}

@media screen and (max-width: 767px) {
	table caption {
		border-bottom: 1px solid #ddd;
	}
}
a#eocf:link {
	color:#0066CC;
}
a#eocf:hover {
	color:#990000;
}
a#eocf:visited { 
	color: #551A8B; 
}
a { font-size:1.1em; }
a:link, a:active {
	color:#0066CC;
}
a:hover {
	color:#990000;
}

a:visited { 
	color: #551A8B; 
}

